.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__desc {
  color: #9A9A9A;
  font-size: 11px;
}

.contacts__phone{
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 2px;
  display: block;
}

.contacts__dropdown-title {
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00
}