.form__row {
  display: flex;
  margin-bottom: 26px;

}

.form__input {
  flex: 1;
  margin-right: 28px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  background: #FFFFFF;
  padding: 20px 30px;
  font-size: 18px;
  color: #1A1B1E;
  resize: none;
}

.form__input:focus {
  border: 1px solid #CCCCCC;
}

.form__input::placeholder{
  color: #666666;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input--textarea {
  height: 235px;;
}

.form__controls {
  display: flex;
  margin-bottom: 33px;
}

.form__controls-title {
  width: 38%;
  font-size: 18px;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  margin-right: 13px;
  padding: 18px 42px;
}

.form__btn:last-child {
  margin-right: 0;
}